.navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  z-index: 20;
  background-color: $light;

  @include media-breakpoint-up(md) {
    padding: 20px 40px;
  }

  @import "./navigation/brand.scss";
  @import "./navigation/cart-icon.scss";

  @import "./navigation/navbar-mobile.scss";
  @import "./navigation/navbar-desktop.scss";
}

@import "./navigation/navbar-mobile-collapsible.scss";
@import "./navigation/language-selector.scss";
