.cart {
  display: flex;
  align-items: center;

  .cart__icon {
    width: 27px;
    height: 24px;
    color: $primary;
  }

  .number {
    background-color: $secondary;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: $light;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: 0px;
  }
}

@include media-breakpoint-up(md) {
  .cart {
    font-size: 24px;

    .text {
      font-size: 18px;
    }

    .number {
      width: 20px;
      height: 20px;
      font-size: 12px;
      right: -5px;
    }
  }
}
